{% extends "base.html" %}

{% block content %}
    <div class="container mt-2">
        <div class="row justify-content-center">
            {% include "chart_snippet.html" with id="lastHourChart" average_temperature=lastHourAverageTemperature chart_data=lastHourChartData title="Last hour" %}
            {% include "chart_snippet.html" with id="lastDayChart" average_temperature=lastDayAverageTemperature chart_data=lastDayChartData title="Last day" %}
        </div>
    </div>

    <script>
        var ctx = document.getElementById('lastHourChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ lastHourChartData.labels|safe }},
                datasets: [{
                    label: 'Temperature',
                    data: {{ lastHourChartData.values }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false,
                            suggestedMin: 25,
                            suggestedMax: 50
                        }
                    }]
                },
                elements: {
                    point: {
                        radius: 2
                    }
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById('lastDayChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ lastDayChartData.labels|safe }},
                datasets: [{
                    label: 'Temperature',
                    data: {{ lastDayChartData.values }},
                    backgroundColor: [
                        'rgba(2,111,255,0.2)',
                    ],
                    borderColor: [
                        'rgb(2,76,193)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false,
                            suggestedMin: 25,
                            suggestedMax: 50
                        }
                    }]
                },
                elements: {
                    point: {
                        radius: 0
                    }
                }
            }
        });
    </script>

{% endblock %}